html {
    background: url("../images/background.jpg") repeat scroll 0 0 / 100% auto #444444;
    height: 100%
}
body {
    background: none;
    color: #CFCFCF;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.9em;
    line-height: 140%;
    margin: 0;
    padding: 0;
    height: 100%;

}
#error {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    margin: auto;
    font-size: 100px;
    line-height: 600px;
}
a {
    color: #cfcfcf;
    text-decoration: none;
}
#footer {
    height: 50px;
    width: 100%;
}
#upload_album {
    position:relative;
    float:left;
}
#upload_album img {
    width:100%;
    display:block;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border-color: white;
    border: 3px;
}
#photo_check img {
    border: 4px solid #000000;
    margin: 0 2px 0 0;
}

/****************login*******************************/


.login {
    position: fixed;
    top: 40%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.lock {
    background: url("../images/lock.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 128px;
    width: 128px;
    margin: auto;
}
.gallery-modal {
    left: 50%;
    margin-bottom: 20px;
    margin-left: -225px;
    position: absolute;
    top: 90px;
    width: 490px;
    z-index: 6000;
}
#gallery-modalbox {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 0;
    display: none;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5000;
}
.gallery-modal-header {
    background: none repeat scroll 0 0 #555555;
    border-bottom: 1px solid #555555;
    border-radius: 3px 3px 0 0;
    color: #999999;
    overflow: hidden;
    position: relative;
}
.gallery-modal-header span {
    display: block;
    line-height: 1.2em;
    padding: 5px 44px 5px 15px;
}
.gallery-modal-header strong {
    cursor: pointer;
    height: 18px;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 20px;
    font-size: 20px;
    text-align: center;
}
.gallery-modal-inner {
    background: none repeat scroll 0 0 #777777;
    overflow: hidden;
    padding: 15px;
    position: relative;
}
.gallery-modal-status {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #fff;
    display: none;
    height: 100%;
    left: 0;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.gallery-modal-inner input {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 200px;
    background-color: #777777;
}
input {
    border: 3px solid #555555;
    border-radius: 3px;
    box-sizing: border-box;
    line-height: 18px;
    padding: 5px;
}
.gallery-modal-bottom {
    background: none repeat scroll 0 0 #222222;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    padding: 15px;
    position: relative;
}
.button-flat {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 3px solid #777777;
    color: #777777;
    float: right;
    margin-right: 15px;
    cursor:pointer;
}
/***************header********************************/
#header {
    background: url("../images/background.png") repeat;
    height: 50px;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
}
.head-menu-left, .head-menu-center, .head-menu-right {
    height: 32px;
}
.head-menu-left {
    position: relative;
    float: left;
    width: 100px;
    margin-left: 15px;
}
.text_span {
    text-align: center;
    margin-top: 7px;
}
.text_span  span {
    font-weight: bold;
    font-size: 18px;
}
#count-photo {
    font-size: 14px;
}
.head-menu-center {
    float: left;
}
.head-menu-center > ul {
    list-style-type: none;
    margin-top: 0px;
}
.head-menu-center > ul > li {
    float: left;
    margin-left: 20px;
}
.head-icon {
    margin-top: 5px;
}
.head-menu-right {
    float: right;
}
#admin {
    float: left;
    margin-right: 15px;
}
#acount {
    float: left;
    line-height: 12px;
}
#acount > span.welcome {
    font-weight: bold;
    margin-top: 5px;
}
#acount > span {
    display: block;
    color: #EEEEEE;
    font-size: 12px;
}
#logout {
    float: right;
    width: 50px;
    height: 100%;
    margin-right: 15px;
}
.unlock {
    background: url("../images/unlock.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 24px;
    width: 32px;
    float: right;
}
/***************albums********************************/
#container {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0px;
}
#content_albums {
    width: 858px;
    overflow: hidden;
    text-align: center;
    left: 50%;
    margin-left: -429px;
    position: relative;
}
.cell {
    width: 286px;
    float:left;   
}
.album {
    margin: 20px;
    padding: 0;
    width: 240px;
    background: #000000;
    border: 3px solid #444444;
    border-radius: 3px;
    overflow: hidden;
    height: 214px;
}
.album:hover  {
    border: 3px solid #ffffff;
}
.album p {
    color: #eeeeee;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
    font-size: 12px;
    padding: 8px 10px;
    text-align: left;
    margin: 0;
    position: relative;
    top: 182px;
}
.cover {
    position: absolute;
    width: 240px;
    height: 180px;
    margin: 0px;
}
.img-gray {
    filter: url("../plugins/cross-browser-grayscale-ie11/js/filters.svg#grayscale");
    filter: gray;
    -webkit-filter: grayscale(1);
}
.img-gray:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
.album:hover #total-photo {
    display: none;
}
#total-photo {
    width: 48px;
    height: 28px;
    z-index: 10;
    overflow: hidden;
    position: relative;
    display: block;
    text-align: center;
    color: #eee;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    padding-top: 10px;
    float: right;
    background-color: #000000;
    border: 3px solid #444444;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 3px;

}
/***************album********************************/

#content_photo {
    width: 1000px;
    overflow: hidden;
    text-align: center;
    left: 50%;
    margin-left: -500px;
    position: relative;
}
.photo {
    z-index: 0;
    overflow: hidden;
    float: left;
    width: 238px;
    height: 170px;
    margin: 3px;
    border: 3px solid #444444;
    border-radius: 3px;
    position: relative;
    background: rgba(200,200,200,0.2);
}
.photo:hover {
    border: 3px solid #ffffff;
}
.photo:hover #download {
    display: block;
}
#description p {
    color: #eeeeee;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding: 8px 15px;
    text-align: left;
    margin: 0;
}
#download {
    width: 28px;
    height: 28px;
    top: 1px;
    right: 1px;
    z-index: 10;
    background: url('../images/filesave.png') no-repeat scroll center center transparent;
    overflow: hidden;
    position: absolute;
    display: none;
}
/***************upload********************************/
#table-1 {
    position: absolute;
    width: 858px;
    margin-top: 20px;
    left: 50%;
    margin-left: -429px;
}
#td-1 {
    width: 300px;
}
#td-2 {
    width: 558px;
}
.content-select {
    overflow: hidden;
    text-align: left;
    position: relative;
    padding: 20px;
}
.content-select > span {
    color: #eeeeee;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 6px 15px;
    text-align: left;
    margin: 0;
}
#albums_select {
    margin: auto;
}
#button {
    margin-left: 15px;
    cursor:pointer;
}
.input-upload {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 3px solid #777777;
    border-radius: 3px;
    color: #cfcfcf;
    cursor:pointer;
}
#album-cover {
    overflow: hidden;
    text-align: left;
    position: absolute;
    top: 15px;
    left: 27px;
}
#cover-place {
    border: 3px solid #444444;
    border-radius: 3px;
    overflow: hidden;
}
#cover-uploader {
    opacity: 0;
    position: absolute;
    width: 240px;
    height: 184px;
    cursor: pointer;
    left: 50%;
    text-align: center;
    color: #ebebeb;
    background: rgba(0, 0, 0, 0.5);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin-left: -120px;
    padding: 0px;
    line-height: 200px;
}
#cover-uploader:hover {
    opacity: 1;
}
.qq-uploader {
    position:relative;
}
.qq-upload-button {
    display: block;
    text-align: center;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 7px 0px;
    border: 3px solid #777777;
    border-radius: 3px;
    color: #cfcfcf;
}
.btn {
    display: block;
    text-align: center;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 7px 0px;
    border: 3px solid #777777;
    border-radius: 3px;
    color: #cfcfcf;
    cursor: pointer;
}
.qq-upload-list {
    margin:0;
    padding:0;
    list-style:none
}
.qq-upload-list li {
    margin:0;
    padding:9px;
    line-height:15px;
    font-size:16px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.qq-upload-list li.qq-upload-success {
    color:#5DA30C;
}
.qq-upload-list li.qq-upload-fail {
    color: #D60000;
}
.qq-edit-filename-icon.qq-editable {
    display:inline-block;
}
.qq-upload-file.qq-editable {
    cursor:pointer
}
.qq-hide {
    display:none
}
.qq-upload-file,.qq-upload-size,.qq-upload-cancel,.qq-upload-failed-text {
    margin-right: 12px;
    display: inline;
}
.qq-upload-size,.qq-upload-cancel {
    font-size:12px;
    font-weight:400;
}
.qq-upload-cancel {
    color:#cfcfcf;
 }
.qq-progress-bar {
    display:block;
    background:-moz-linear-gradient(top,rgba(30,87,153,1) 0,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(30,87,153,1)),color-stop(50%,rgba(41,137,216,1)),color-stop(51%,rgba(32,124,202,1)),color-stop(100%,rgba(125,185,232,1)));
    background:-webkit-linear-gradient(top,rgba(30,87,153,1) 0,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    background:-o-linear-gradient(top,rgba(30,87,153,1) 0,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    background:-ms-linear-gradient(top,rgba(30,87,153,1) 0,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    background:linear-gradient(to bottom,rgba(30,87,153,1) 0,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    width:0;
    height:15px;
    border-radius:3px;
    margin-bottom:3px
}
.qq-total-progress-bar {
    height:25px;
    border-radius:3px
}
.qq-total-progress-bar-container {
    margin:9px
}
INPUT.qq-edit-filename {
    position:absolute;
    opacity:0;
    filter:alpha(opacity=0);
    z-index:-1;
    -ms-filter:"alpha(Opacity=0)"
}
INPUT.qq-edit-filename.qq-editing {
    position:static;
    margin-top:-5px;
    margin-right:10px;
    margin-bottom:-5px;
    opacity:1;
    filter:alpha(opacity=100);
    -ms-filter:"alpha(Opacity=100)"
}
INPUT.qq-edit-filename.qq-editing~.qq-upload-cancel {
    display:none
}
.qq-edit-filename-icon {
    display:none;
    background:url("../images/edit.gif");
    width:15px;
    height:15px;
    vertical-align:text-bottom;
    margin-right:5px
}
/***************album_settings********************************/
#info {
    left: 27px;
    top: 200px;
    position: absolute;
}
#info > p {
    color: #cfcfcf;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-align: left;
    margin-bottom: 20px;
}
#album_photos {
    position: relative;
}
#album_photos img {
    margin: 18px;
    border: 3px solid #444444;
    border-radius: 3px;

}
#info-left {
    width: 358px;
    float: left;
}
#info-right {
    float: left;
    padding: 0px 15;
}
#info-right ul {
    list-style-type: none;
    margin-top: 0px;
    padding-left: 10px;
}
#info-right input {
    margin: 0px;
}
#info-right span {
    color: #cfcfcf;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-align: left;
    padding-left: 4px;
}
#album-info p {
    color: #cfcfcf;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-align: left;
    margin: 10px 0 0 0;
}
#album-info textarea {
    width: 350px;
    height: 145px;
}
#input-title-album {
    width: 260px;
}
#button-save {
    width: 350px;
    margin-top: 20px;
    cursor: pointer;
}
#button-delete {
    margin-right: 20px;
    float: right;
    text-align: center;
    padding: 7px 0px;
    cursor: pointer;
}
#photo:checked + img {
    border: 3px solid #ffffff;
}
/***************admin********************************/
.cont {
    float:left;
    position: relative;
    height: 600px;
}
#left-body {
    width: 10%;
}
#center-left-body {
    width: 10%;
}
#center-body {
    width: 20%;
}
#right-body {
    width: 60%;
}
#info-users {
    margin-top: 50px;
}
.table-info {
    border: 1px solid #777777;

}
.table-info > span {
    padding-left: 3px;
    text-align: left;
    font-size: 11px;
}
.td-user-login {
    width: 101px;
}
.td-user-firstname {
    width: 102px;
}
.td-user-lastname {
    width: 102px;
}
.td-checkbox {
    width: 45px;
    text-align: center;
}
.td-user-last_login {
    width: 140px;
}
#info-users {
    margin-top: 50px;
}
#info-albums {
    margin-top: 50px;
}
.td-album-name {
    width: 272px;
}
.td-album-totalphoto, .td-album-totalusers {
    width: 40px;
    text-align: center;
}
.td-album-author {
    width: 100px;
}
.td-album-createdate {
    width: 140px;
}

#right-body-left {
    width: 335px;
    float: left;
}
#right-body-right {
    width: 265px;
    float: right;
    text-align: left;
}
#right-body-right p {
    margin: 0;
}
#albums-list {
    margin: 0px;
    padding-left: 10px;
    list-style-type: none;
}
#albums-list li {
    cursor: pointer;
}
.input-admin {
    width: 188px;
}
.user-checkbox {
    font-size: 0.9em;
}

.left-menu {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.left-menu span {
    cursor: pointer;
    font-size: 18px;
    color: #cfcfcf;
}
.center-left-menu {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.center-left-menu span {
    cursor: pointer;
    font-size: 14px;
    color: #cfcfcf;
    margin-bottom: 15px;
}
.center-menu {
    margin-top: 50px;
    padding-left: 10px;
    text-align: left;
}
.center-menu ul {
    list-style-type: none;
    margin-top: 0px;
    padding-left: 5px;
}
.span-menu {
    cursor: pointer;
}
.span-menu:hover {
    font-weight: bold;
}
.span-album-list {
    font-size: 0.9em;
}
.input-create {
    margin-top: 15px;
}

/********************************************/

#upscroll {
    bottom: 20px;
    clear: both;
    margin: 0px 0px 0px 1215px;
    padding: 0px;
    position: fixed;
    z-index: 999;
    display: block;
    right: 20px;
}
#upscroll a {
    border: 1px solid #CAD9E0;
    border-radius: 5px;
    display: block;
    height: 50px;
    margin: 0px;
    opacity: 0.5;
    padding: 0px;
    text-decoration: none;
    width: 50px;
}
#upscroll span {
    background: url("../images/upscroll.png") no-repeat scroll 0px 0px transparent;
    margin: 13px 5px;
    display: block;
    height: 22px;
    width: 40px;
}