{% extends 'main.html' %}

{% load static core %}

{% block title %}Albums{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<div id="content_albums">
    {% if object_list %}
        {% for album in albums %}
            <div class="cell">
                <div class="album">
                    <div class="cover">
                        <a href="{{ album.pk }}">
                            {% if album.img %}
                                <img class="img-gray" src="{{ album.img.url }}" alt="{{ album.name }}" />
                            {% else %}
                                <img src="{% static 'images/no_cover.png' %}" alt="No cover" />
                            {%  endif %}
                        </a>
                    </div>
                    <div id="total-photo"><strong>{{ album.galleryphoto_set.count }}</strong></div>
                    <p>{{ album.name }}</p>
                </div>

            </div>
        {% endfor %}
    {% else %}
        <h1 class="nothing">Sorry, no data in this section</h1>
    {% endif %}
</div>

{% endblock %}

