{% load static %}

<div id="upload_div" style="display:none"></div>
<div id="album-cover" style="display: none">
    {% if object.img %}
        <img id="cover-place" alt="" src="{{ object.img.url }}"/>
    {% else %}
        <img id="cover-place" alt="" src="{% static 'images/no_cover.png' %}"/>
    {% endif %}
    <span id="cover-uploader" onclick="">Click for upload cover</span>
</div>