{% extends 'main.html' %}

{% load static core %}

{% block title %}{{ object.name }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'plugins/fancybox/jquery.fancybox.css' %}"/>
    <script src="{% static 'plugins/fancybox/jquery.fancybox.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#settings').css('display', 'block');
            $('#setting_link').attr('href', "{% url 'album_setting' object.pk %}");
            $('.album_name').text("{{ object.name }}");
            $('#count-photo').text("(total photo: {{ object_list.count }})");
	        $(".fancybox").fancybox({
		        openEffect	: 'none',
		        closeEffect	: 'none'
	        });
        });
    </script>
{% endblock %}

{% block content %}
<div id="content_photo">
    {% if object %}
        <div id="description">
            <p>{{ object.description }}</p>
        </div>
        {% for photo in object_list %}
            <div class="photo">
                <a class="fancybox" rel="gallery1" href="{{ photo.image.url|thumbnail:"width=1280,height=960" }}" title="{{ photo.title }}">
	                <img class="img-gray" src="{{ photo.image.url|thumbnail:"width=238,height=178" }}" title="{{ photo.title }}" />
                </a>
                <a href="{% url 'download_photo' photo.pk %}"><div id="download"></div></a>
            </div>
        {% endfor %}
    {% else %}
        <h1 class="nothing">Sorry, no data in this section</h1>
    {% endif %}
</div>
{% endblock %}


