{% load static %}

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="all" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/api.js' %}"></script>
    {% block head %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<body>
    {% block login %}{% endblock %}
</body>
</html>
