{% extends 'main.html' %}

{% load static core app %}

{% block title %}Upload photo{% endblock %}
{% block head %}
    <script src="{% static 'js/api.js' %}"></script>
    <script src="{% static 'js/fineuploader.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block script %}
{% include 'image_upload.html' %}
<script>
    $(document).ready(function() {
        $('#albums_select').val('choice');
        $('select option').on('click', function(){
            uploader_photo.reset();
            if ($(this).val()== 'create_album')
            {
                document.getElementById('create_album').style.display = 'block';
                document.getElementById('upload_photo').style.display = 'none';
                document.getElementById('album-cover').style.display = 'none';
            }
            else if ($(this).val()== 'choice')
            {
                document.getElementById('create_album').style.display = 'none';
                document.getElementById('upload_photo').style.display = 'none';
                document.getElementById('album-cover').style.display = 'none';
            }
            else
            {
                document.getElementById('create_album').style.display = 'none';
                AlbumUploadPhoto($('#albums_select option:selected').val());
            }
        });
        $('#button').on('click', function(e){
            e.preventDefault();
            var form = $(this).closest('form');
            $.post("{% url 'create_album' %}", form.serialize(),function(data) {
                if (data.success) {
                    $('#albums_select').append($("<option></option>").attr("value",data.pk).text(data.name));
                    $('#albums_select').val(data.pk);
                    $('#create_album').css('display', 'none');
                    AlbumUploadPhoto($('#albums_select option:selected').val());
                }
                else {alert(data.error);}
            });
        });
    });
  </script>
{% endblock %}


{% block content %}
    <table id="table-1">
        <tr>
            <td id="td-1">
                {% include 'album_cover.html' %}
            </td>
            <td id="td-2">
                <div class="content-select">
                    <div id="upload_div" style="display:none"></div>
                    {% album_names as albums %}
                    <span>Choice album:</span>
                    <select id="albums_select" name='albums'>
                        <option value="choice" selected>---</option>
                        <option value="create_album">create new album</option>
                        {% for item in albums %}
                            <option value="{{ item.pk }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="create_album" class="content-select" style="display: none">
                    <form>
                        {% csrf_token %}
                        <input type="text" name="album_name" class="input-upload" value="" placeholder="Album name">
                        <input type="submit" name="createalbum" id="button" class="input-upload" value="Create album">
                    </form>
                </div>
                {% include 'upload_photo.html' %}
            </td>
        </tr>
    </table>
{% endblock %}